[user]
	email = abdzub@hotmail.com
	name = Abdullah Zubair
[alias]
	ss = !git pull && git add -A && git commit -m \"normal edits\" && git push
	su = !git pull && git add -u && git commit -m \"new changes\" && git push
  ls = !bash ~/scripts/git-list-all ~/
	stat = !bash ~/scripts/git-status ~/
	update = !bash ~/scripts/git-update ~/
